table{
    text-align: center;
    width: 650px;
    margin: 0 auto;
    border-radius: 10px;
}
body{
    background-color: rgb(205, 194, 91);
}
td{
    color: rgb(212, 57, 171);
    background-color: rgb(96, 84, 192);
    border-radius: 5px;;
}
td:hover{
    background-color: rgb(13, 26, 212);
    color:rgb(208, 208, 208);
}
th{
    border-radius: 5px;
    color:rgb(212, 57, 171);
    background-color:rgb(20, 176, 223);
}